@charset "UTF-8";
// Imports
// =====================================================
@import './scss/common';
// [END] Imports
// =====================================================
.bookshelf {
	text-align: center;
	@include clearfix();
}
.bookshelf-title {
	color: $default-color-inverse;
	background-color: $color-primary-light;
	text-align: left;

	@include box-shadow(0px, 2px, 4px, 0px, rgba(0,0,0,0.2));
	@include interpolate((font-size), $min-screen, $max-screen, 18px, 30px);
	border-bottom: 1px solid daarken($color-primary, 20);
}

