@charset "UTF-8";
// Imports
// =====================================================
@import './scss/common';
// [END] Imports
// =====================================================
.book-top,
.book-content {
	position: relative;
	margin: auto;
	text-align: left;
	@include interpolate((margin-top, margin-bottom), $min-screen, $max-screen, 4px, 8px);
}
.book-cover {
	@include interpolate(width, $min-screen, $max-screen, 98px, 128px);
	@include interpolate(height, $min-screen, $max-screen, 130px, 170px);
	background-color: $color-primary-dark;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% auto;
	display: block;
	margin: auto;
	@include box-shadow(0px, 2px, 4px, 0px, rgba(0,0,0,0.2));
}
.book-title {
	font-weight: 500;
	@include interpolate((font-size), $min-screen, $max-screen, 14px, 14px);
}
.book-authors {
	@include interpolate((font-size), $min-screen, $max-screen, 14px, 14px);
}
